/**
 * @name Discord Adwaita Theme
 * @description A GNOME theme for Discord, following the Adwaita style & GNOME Human Interface Guidelines.
 * @author FilipNone
 */

@import "https://raw.githubusercontent.com/FilipNone/discord-adwaita-theme/dist/dist/index.css";

:root {
	/* Transparent sidebar */
	--option-transparent-sidebar: false;
	--option-transparent-sidebar-opacity: 75%;
	--option-transparent-sidebar-opacity-secondary: 50%;
}
