@use "controls";
@use "typography";

// "Friends" entry
.channel__972a0:not(.dm__972a0) .link__972a0 {
	padding-block: var(--space-xxs);
}

.name__20a53 {
	@extend %title-3;
}

.interactive__972a0 {
	@include controls.button-basic-raised;

	transition: none;
	background-color: transparent;
	color: var(--window_fg_color);

	&.interactiveSelected__972a0 {
		@include controls.button-selected;
	}
}

.scroller__99e7c {
	margin-bottom: var(--custom-app-panels-height);
}
