* {
	box-sizing: border-box;
}

.custom-theme-background {
	body {
		background: var(--background-gradient-app-frame);
	}

	#app-mount {
		inset: var(--app-border-size);
		width: calc(100% - var(--app-border-size) * 2);
		height: calc(100% - var(--app-border-size) * 2);
	}
}

.platform-win {
	#app-mount {
		border-radius: var(--window_radius);

		&::before {
			content: "";

			position: absolute;
			inset: var(--app-border-size);
			z-index: 9999;

			pointer-events: none;

			outline: var(--app-border-size) solid var(--window_outline_color);
			border-radius: var(--window_radius);
		}
	}

	.bar_c38106 {
		right: var(--titlebar-button-spacing);
	}

	.base__5e434 {
		padding: 0;
	}
}

#app-mount {
	// wtf discord
	color: var(--window_fg_color);
}
