@use "controls";

.chevronButton__0edde {
	padding: 0;
}

.comboBoxInput__0edde {
	padding: 0;
}

.selectButton__0edde {
	padding: 0;

	min-height: unset;
}

.selectField__0edde {
	@include controls.button;

	align-items: center;
}
